.cemp{
    width: 100%;
}
#Admin{
    margin-top: 80px;

}
.addBtn{
    font-size: 35px;
    width: 70px;
    height: 70px;
    border-radius: 60px;
    position: fixed;
    right:60px;
    bottom:80px;
}